<div class="ui blue segment">
	<div class="ui grid">
		<div class="eight wide column" style="margin: 0">
			<div class="ui form">
				<div class="ui icon input">
					<input type="text" placeholder="Search..." ng-model="search">
					<i class="search icon"></i>
				</div>
			</div>
		</div>
		<div class="eight wide column" style="margin: 0">
			<div class="ui blue button" style="float: right" ng-click="addItem()">
				I Wana Buy
			</div>
		</div>
	</div>
</div>
<!-- item -->
<div class="ui four items">
	<div class="item" ng-repeat="item in items | filter: search" style="min-height:250px; max-height:250px" ng-click="selectItem(item)">
		<div class="ui small image">
			<img src="{{item.pic}}" style="height: 150px">
		</div>
		<div class="content">
			<div class="meta">{{item.price| currency}}</div>
			<div class="name">{{item.name}}</div>
			<p class="description">{{item.description}}</p>
		</div>
	</div>
</div>
<!-- end of item -->
<!-- I Wana Buy Modal -->
<div class="ui basic modal" id="buy">
	<i class="close icon"></i>
	<div class="header">
		I Wana Buy
	</div>
	<div class="ui form segment">
		<div class="ui two fields">
			<div class="field">
				<div class="ui left icon input">
					<i class="gift icon"></i>
					<input type="text" placeholder="Name the item you want to buy" id="datepicker2" ng-model="newItem.name" debounce="500">
				</div>
			</div>
			<div class="field">
				<div class="ui left icon input">
					<i class="payment icon"></i>
					<input type="text" placeholder="Price you are willing to pay" ng-model="newItem.price">
				</div>
			</div>
		</div>
		<div class="field">
			<div class="ui two column grid">
				<div class="column">
					<textarea class="eventDetails" ng-model="newItem.description"> </textarea>
				</div>
				<div class="column">
					<div class="ui segment" style="height: 12em; overflow-y:auto">
						<div class="ui small images">
							<img class="ui image" src={{pic}} ng-class="{disabled: pic == selectedPic}" style="cursor: pointer" ng-click="selectedImage(pic)" ng-repeat="pic in pics">
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui buttons">
			<div class="ui positive labeled icon button">
				Yes
				<i class="checkmark icon"></i>
			</div>
			<div class="ui negative right labeled icon button">
				<i class="remove icon"></i>
				No
			</div>
		</div>
	</div>
</div>
<!-- end of modal -->
<!-- sidebar -->
<div class="ui wide right overlay floating styled sidebar">
	<h3 class="ui header" style="display:inline">Item Details</h3>
	<i class="arrow sign right big icon" style="float:right; cursor:pointer" onClick="$('.overlay.sidebar') .sidebar('toggle');"></i>
	<div style="text-align:center">
		<img src="{{selectedItem.pic}}">
	</div>
	<div class="ui form">
		<div class="field">
			<div class="ui left icon input">
				<i class="gift icon"></i>
				<input type="text" ng-model="selectedItem.name" disabled style="opacity: 1">
			</div>
		</div>
		<div class="field">
			<div class="ui left icon input">
				<i class="payment icon"></i>
				<input type="text" ng-model="selectedItem.price">
			</div>
		</div>
		<div class="field">
			<textarea ng-model="selectedItem.description"> </textarea>
		</div>
	</div>
</div>
<!-- end of sidebar -->